{% extends 'layout.html.twig' %}
{% set active = 'issues' %}

{% block content %}

    <h1>Closed issues for "{{ repo.full_name }}"</h1>

    <form action="" class="form-horizontal" method="get">
      <div class="control-group">
        <label class="control-label" for="inputFrom">From</label>
        <div class="controls">
          <input type="text" id="inputFrom" name="from" placeholder="DD/MM/YYYY" value="{{ from|date('d/m/Y')|default('1 month ago'|date('m/d/Y')) }}">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputto">To</label>
        <div class="controls">
          <input type="text" id="inputTo" name="to" placeholder="DD/MM/YYYY" value="{{ to|date('d/m/Y')|default('now'|date('m/d/Y')) }}">
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>

    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Closed At</th>
            <th>Action</th>
        </tr>
        {% for issue in issues %}
        <tr>
            <td><strong><a href="{{ issue.html_url }}">#{{ issue.number }}</a></strong></a></td>
            <td>{{ issue.title }} ({{ issue.comments }} comments)</td>
            <td>{{ issue.created_at|date("d/m/Y") }}</td>
            <td>{{ issue.closed_at|date("d/m/Y") }}</td>
            <td>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
